.mapControl {
  position: absolute;
  right: 5px;
  top: 5px;
}

.container {
  display: grid;
}

.map {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.hidden {
  visibility: hidden;
}

.mapPlaceholder {
  grid-column: 1;
  grid-row: 1;
}
